* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-form {
    background-color: aqua;
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

/* 제목 */
.contact-form h2 {
    margin-bottom: 25px;
}

/* label은 한 줄을 차지하도록 설정 */

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

/* input, select, textarea 공통 스타일 */
.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    /* outline: none; 선택시 테두리 진해짐 방지 */
    font-size: 12px;
    margin-bottom: 20px;
}

.contact-form textarea {
    height: 150px;
    /* 입력내용이 길어지면 스크롤이 생긴다 */
    resize: vertical;
}

.contact-form button {
    all: unset;
    width: 100%;
    padding: 14px;
    background-color: #333;
    color: #fff;
    text-align: center;
    /* display: block; */
    box-sizing: border-box;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #555;
    cursor: pointer;
}